.headline {
  font-size: 2.5rem;
  color: #ffffff;
}

.headline::first-letter {
  color:  #7bb8ff;
}

.subtitle {
  font-size: 1.5rem;
  color: #ffffff;
}

.subsubtitle {
  font-size: 1rem;
  color: #ffffff;
}