.headline {
  font-size: 2.5rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.headline::first-letter {
  color:  #7bb8ff;
}

.subtitle {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.subsubtitle {
  font-size: 0.75rem;
  color: #ffffff;
}