.column {
    width: 300px;
    height: 80vh;
    padding: 10px;
    margin:1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}

.column h4 {
    margin: 0;
    padding: 10px;
    color: #1b024a;  
    text-transform: uppercase;
}

.taskInput{
    border: none;
    background-color:  rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
}

.newTaskContainer{
    display: flex;
    justify-content:first baseline;
    margin-bottom: 1rem;
    height: 5rem;
    width: 100%;
}

.taskBoardContainer {
    display: flex;
    justify-content: center;
}

.taskCard {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color:  rgb(181, 223, 255);
  }
  
  .taskCardText {
    padding: 2%;
    text-align: left;
  
    p {
      font-size: 0.8rem;
    }
  }
  
  .taskCardPanel {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(181, 223, 255);
    padding: 0.1rem;
  }
  
  /* .check {
    background-color: rgb(0, 255, 81);
    border: none;
    cursor: pointer;
  }
  
  .remove {
    background-color: rgb(236, 0, 0);
    border: none;
    cursor: pointer;
  }
  
  .back {
    background-color: rgb(146, 202, 255);
    border: none;
    cursor: pointer;
  } */
  
  .createdAtText {
    font-size: 0.7rem;
    font-style: italic;
    color:#848491;
  }