.taskCard {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  background-color: #fff;
}

.taskCardText {
  padding: 2%;
  text-align: left;

  p {
    font-size: 0.8rem;
  }
}

.taskCardPanel {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(178, 187, 203);
  padding: 0.1rem;
}
