.header {
  width: auto; /* change to 100vw? */
  height: 30dvh; /* change height? */
  background-color: #3e3ca5; /* change color 2 correct  */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 1rem;
}

.searchContainer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
