@import './../../global.css';

.header {
  width: 100%; /* Set to full viewport width */
  height: 15vh;
  background-color: #4c4caf; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center; 
  padding-left: 3rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding-right: 5rem; 
}


@media (max-width: 768px) {
  .header {
    height: 10vh; 
  }

  .logoContainer img {
    width: 50px; 
  }
}

@media (min-width: 769px) {
  .logoContainer img {
    width: 100px; 
  }
}
