@import './../../global.css';

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/* Container for the password input and label */
.passwordContainer,
.userContainer {
    width: 100%;
    margin-bottom: 1.5rem;
}

.passwordLabel,
.userLabel {
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: left;
    display: block;
    font-weight: 200; 
}

.passwordInput,
.userInput {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #3b4c75;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

.passwordInput:focus,
.userInput:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

.passwordLabel ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
}

.userLabel ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
}



/* Button styles */
.submitButton {
    background-color: #7bb8ff; /* Blue button */
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

.submitButton:hover {
    background-color: #284ea7; /* Darker blue on hover */
}


.form label {  
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: left;
    display: block;
    font-weight: 200; 
   
}

.form::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
}

.form input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #3b4c75;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

