name: My First Action

on: 
  push:
    branches: [ main ]

jobs:
  react_on_push:
    runs-on: ubuntu-latest
    steps:
     - name: Print Message
       run: echo 'This workflow runs on any push to any branch.' 
