
  img {
    max-width: 40px; /* Begränsa storleken på bilden för att hålla layouten balanserad */
    max-height: 40px; /* Begränsa storleken på bilden för att hålla layouten balanserad */
  }
  
  .Logo {
    display: flex; /* Use Flexbox to align items side-by-side */
    align-items: center; /* Center the items vertically */
    padding: 2rem;
    flex-direction: row; /* Align items horizontally */
  }
  
  .Logo img {
    margin-right: 10px; /* Add some space between the logo and the text */
  }
  
  h1 {
    font-size: 1.5rem; /* Storlek på texten */
    width: 250px; /* Full bredd för att undvika att texten bryts */
    color: #18126c; /* Mörkare grå för professionell look */
    letter-spacing: 2px; /* Lite mellanrum mellan bokstäverna */
    text-transform: uppercase; /* Gör texten versal för en ren stil */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Lägger till subtil skugga */
  }